/* Droops */

/* common */
/* .wf-sawarabigothic { font-family: "Sawarabi Gothic"; } */
body {
    margin: 0;
}

h1 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: calc(100% - 56px);
    margin: 0 auto;
    /* outline: 2px solid skyblue; */
}

p {
    line-height: 1.8;
    /* letter-spacing: 0.1rem; */
    font-size: 14px;
    /* padding-top: 20px; */
    margin: 0;
    padding-top: 20px;
}

.btn {
    display: block;
    background: #FF577E;
    color: #fff;
    border-radius: 10px;
    width: 100px;
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
} 

ul {
    padding: 0;
}

li {
    list-style: none;
}

small {
    color: #eee;
}

/* header */
header {
    background: #eee;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* hero */
.hero .container h1 {
    font-family: "Sawarabi Gothic";
    font-size: 24px;
    font-weight: normal;
    color: #FF577E;
    height: 600px;
    line-height: 1.3;
    position: absolute;
    left: 28px;
    top: 48%;
}

 .hero {
    /* background: rgb(248, 242, 246); */
    background-image: url(https://github.com/shimanaka01/Droops/blob/main/img/Group%20126.png?raw=true);
    height: 600px;
    margin-bottom: 100px;
 }

.info {
    background-image: url(../img/bg.png);
    text-align: center;
    color: #eee;
    padding: 40px 0;
    margin-bottom: 100px;
}

.info .btn {
    margin: 40px auto 0;
    padding: 10px 110px;
}

.info .btn:hover {
background: orange
;
}

/* menu */

.menu {
    margin-bottom: 100px;
}

.menu h2 
{
    color: #FF577E;
    margin-bottom: 40px;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.menu li 
{
    width: calc((100% - 16px) / 2);
    /* outline: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

}

.menu li img {
    width: 100%;
}

.menu li h3 {
    font-size: 18px;
    color: #CE3256;
    margin-top: 20px;
}

.menu p {
    padding-top: 10px;
    color: #CE3256;

}

.menu li a {
    display: block;
    transition: opacity .3s;
    margin: 0 auto;
}

.menu li a:hover {
    display: block;
    opacity: .5s;
}

.menu .more {
    display: block;
    width: 150px;
    line-height: 32px;
    border-bottom: 2px solid #FF577E;
    color: #FF577E;
    text-align: center;
    font-size: 12px;
    /* text-decoration: underline; */
}

.menu picture img {
    width: 20px;
    height: 20px;
}

.menu .btn {
margin: 40px auto 0;
padding: 10px 110px;
}


.menu .btn:hover {
    background: orange
    ;
    }

/* access */

.access {
    margin-bottom: 100px;
}

.access h2 
{
    color: #FF577E;
    margin-bottom: 40px;
}

.access img {
    border: 1px solid #FF577E;
    box-shadow: 2px 2px 6px #FF577E;
    display: block;
    margin: 0 auto;
}

.access p {
    text-align: center;
    color: #CE3256;
}

/* footer */
footer {
    background-image: url(../img/bg.png);
    padding: 100px 0 60px;

}
footer ul,a {
    color: #eee;
}
footer li {
    padding-bottom: 10px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

footer .icon {
    display: flex;
    flex-direction: column;
}

footer a + a {
    padding-left: 12px;
}

footer .category{
    padding-bottom: 20px;
}

/* medium screen  */
@media (min-width: 600px){
    /* body {
        background: pink;
    } */

    .menu li {
    width: calc((100% - 32px) / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

}

    
}

/* large screen  */
@media (min-width: 800px){
    /* body {
        background: skyblue;
    } */
.container {
    width: calc(100% - 32px);
    margin: 0 auto;
    max-width: 800px;
}

    
}
